<!DOCTYPE html>
<html>

<head>

    <title>Infera Admin</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1 class="logo">
        Infera Admin
    </h1>

    <p class="tagline">
        Manage Search Engine
    </p>

    <form>

        <input
            type="text"
            placeholder="Enter website URL">

        <button>
            Crawl Website
        </button>

    </form>

</div>

</body>

</html>