<!DOCTYPE html>
<html>

<head>
    <title>Infera</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">
    <button id="themeToggle" class="theme-btn">
        
    </button>
    <h1 class="logo">Infera</h1>

    <p class="tagline">
        Intelligent Search Engine
    </p>

    <form action="/search" method="POST" class="search-box">

        <input
            type="text"
            name="query"
            placeholder="Search anything..."
            autofocus>
        <div id="suggestions" class="suggestions-box"></div>
        <button type="submit">
            Search
        </button>

    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</div>

</body>

</html>